body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(210, 238, 246);
    margin: 0;
    font-family: sans-serif;
}
header{
    color: rgb(29, 54, 118);
    background-color: rgb(166, 209, 236);
    display: flex;
    width: 100%;
    justify-content: center;
}
#add-btn{
    border: none;
    border-radius: 2em;
    background-color: rgb(166, 209, 236);
    color: rgb(29, 54, 118);
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
#add-btn:hover{
    background-color: rgb(141, 199, 235);
}
.popup{
    position: absolute;
    background-color: rgb(141, 199, 235);
    top: 0%;
    left: 0%;
    border-radius: 1em;
    width: 300px;
    height: 360px;
    transform: scale(0.1);
    visibility: hidden;
}
.popup-open{
    position: absolute;
    top: 15%;
    left: 39.5%;
    transform: scale(1);
    visibility: visible;
}
form{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    color: rgb(29, 54, 118);
}
input{
    border-radius: 1.5em;
    border: none;
    padding: 10px 10px;
    width: 200px;
}
input:focus{
    outline: none;
}
select{
    width: 130px;
    border: none;
    border-radius: 1em;
    padding: 5px 5px;
    text-align: center;
}
label{
    font-size: 15px;
    text-align: right;
}
#submit-btn{
    border: none;
    border-radius: 2em;
    background-color: #fff;
    color: rgb(29, 54, 118);
    width: 220px;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: rgb(210, 238, 246);
}
.main-container{
    text-align: center;
}
#book-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 60px;
}
.card{
    background-color: #fff;
    color: rgb(29, 54, 118);
    border-radius: 1em;
    width: 220px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.card div:first-child{
    background-color: rgb(166, 209, 236);
    width: 220px;
    height: 50px;
    border-radius: 1em 1em 0 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
footer{
   background-color: rgb(166, 209, 236);
   color: rgb(29, 54, 118);
   width: 100%;
   text-align: center;
   padding: 5px 0;
}